
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
tmp/

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
db/

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/public/assets
/.idea
/.idea *
/public/system/*
.rvmrc

# Ignore generated VCR cassettes files
spec/cassettes/*